Port 2222
PidFile /opt/ssh/sshd.pid
PasswordAuthentication no

ClientAliveInterval 180
UseDNS no
UsePAM yes
PrintLastLog no # handled by PAM
PrintMotd no # handled by PAM

HostKey /opt/ssh/ssh_host_rsa_key
HostCertificate /opt/ssh/ssh_host_rsa_key_cert.pub
TrustedUserCAKeys /opt/ssh/trusted_user_ca_keys.pem

#specify SSH algorithms
KexAlgorithms curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
